
# Anchor
.anchor

.DS_Store
.crates

target

**/*.rs.bk


node_modules

test-ledger

# KeyPairs
phoenixdev.json
recovery.json

test.js
# ProgramIDs from DevNet Deploys Gone Wrong
ProgramIDs.md
app/quasar.config.js
app/src/solana/devWallet.json
app/src/solana/fundWallet.ts
_backup.ts
not_anything.ts
