
# Anchor
.anchor

.DS_Store
.crates

_target
_target_BAK
target
.coderrect

**/*.rs.bk


node_modules

test-ledger

# KeyPairs
phoenixdev.json
recovery.json

test.js
# ProgramIDs from DevNet Deploys Gone Wrong
ProgramIDs.md
app/quasar.config.js
app/src/solana/wallets/**.ts

_backup.ts
not_anything.ts
app/src/solana/wallets/**.ts
app/server/simpl3r_hashlist.json
phoenixdev.json
.env
Zero_Evo_Hashlist.json
PrjctTokenAuthority.json
app/src/solana/types/_ember_bed.ts
